.btn {
  padding: var(--space-sm) var(--space-md);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  font-family: var(--font-family-main);
  font-weight: var(--font-medium);
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.btn-primary:hover {
  background-color: var(--color-yellow);
  color: var(--color-black);
}
